* {
  font-family: "JetBrains Mono", "FiraCode Nerd Font", "Symbols Nerd Font Mono", monospace;
  font-size: 14px;
  font-weight: normal;
}

label {
  margin-top: 3px;
  margin-bottom: 3px;
}
window { background: transparent; }

#osd-box {
  background-color: #1e1e2e;
  border-radius: 1rem;
  padding: 0.6rem 1rem;
  min-width: 350px;
}

.app-row {
  border-radius: 0.5rem;
  padding: 0.35rem 2rem;
  margin: 1px 0;
}
.app-row.focused { background-color: #313244; }

.sink-row {
  border-radius: 0.5rem;
  padding: 0.35rem 2rem;
  margin: 1px 0;
}
.sink-row.default { background-color: #313244; }

.app-name         { color: #cdd6f4; min-width: 130px; }
.app-name.focused { color: #cba6f7; }
.app-name.default { color: #a6e3a1; }
.app-muted        { color: #585b70; }

.app-icon         { color: #cdd6f4; min-width: 0; }
.app-icon.focused { color: #cba6f7; }
.app-icon.default { color: #a6e3a1; }

.bar-track {
  background-color: #313244;
  border-radius: 0.4rem;
  min-height: 6px;
  min-width: 100px;
}
.bar-fill         { border-radius: 0.4rem; min-height: 6px; background-color: #b4befe; }
.bar-fill.focused { background-color: #cba6f7; }
.bar-fill.default { background-color: #a6e3a1; }

.vol-label         { color: #6c7086; min-width: 36px; }
.vol-label.focused { color: #a6adc8; }

.sink-label {
  color: #6c7086;
  font-size: 12px;
  padding: 0 0.5rem 0.2rem 2rem;
}
